{% extends "base.html" %}

{%- block title -%}
{{ section.title | default(value="Games") }} | {{ config.title }}
{%- endblock -%}

{%- block description -%}
{%- if section.description %}
<meta name="description" content="{{ section.description | markdown(inline=true) | striptags | safe }}">
{%- elif config.description %}
<meta name="description" content="{{ config.description | safe }}">
{%- endif -%}
{%- endblock -%}

{%- block main -%}
{%- filter indent -%}{%- filter indent -%}

{% for page in paginator.pages | default(value=section.pages) -%}
{%- set completed = page.extra.completed_at | default(value=page.date) -%}
{%- set subtitle = page.extra.subtitle | default(value=page.description | default(value="")) -%}
{%- set rating_values = page.taxonomies.rating | default(value=[]) -%}
<div>
    <div class="game-container">
        {%- if page.extra.url_cover_small -%}
        <div class="game-entry__image">
            <img src="{{ page.extra.url_cover_small | safe }}" alt="{{ page.title | safe }}">
        </div>
        {%- endif -%}
        <article class="post game-entry__content">
            <h2 class="post-title">
                <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
            </h2>
            <ul class="post-meta">
                {% if completed %}
                <li>
                    <time datetime="{{ completed }}">{{ completed | date(format="%d %b %Y") }}</time>
                </li>
                {% endif %}
                {% if completed and rating_values | length > 0 %}
                <li role="separator" aria-hidden="true">::</li>
                {% endif %}
                {% if rating_values | length > 0 %}
                <li>Rating: {{ rating_values | join(sep=", ") }}</li>
                {% endif %}
            </ul>
            {% if subtitle %}
            <p>{{ subtitle | markdown(inline=true) | striptags }}</p>
            {% endif %}
        </article>
    </div>
</div>

{% endfor -%}

{%- if paginator and paginator.number_pagers > 1 %}
<nav class="pagination">
    <ul>
        {%- if paginator.previous %}
        <li><a rel="prev" href="{{ paginator.previous | safe }}" aria-label="newer posts">&lt;&nbsp;[newer posts]</a>
        </li>
        {%- endif %}
        {%- if paginator.next %}
        <li><a rel="next" href="{{ paginator.next | safe }}" aria-label="older posts">[older posts]&nbsp;&gt;</a></li>
        {%- endif %}
    </ul>
</nav>
{%- endif %}
{% endfilter %}{% endfilter %}
{%- endblock -%}